@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Plus+Jakarta+Sans:ital,wght@0,600;1,600&family=Quicksand:wght@300..700&display=swap');
body {
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #161616;
    color: #fff;
  }

  button {
    cursor: pointer;
    background-color: rgba(107, 63, 169, 1);
    color: white;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: 'be vietnam pro', sans-serif;
    transition:0.5s ease-in-out;
  }
  button:hover {
    transform:scale(1.05);
  }

  .diagonal-left-glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: radial-gradient(
      circle,
      rgba(107, 63, 169, 1) 20%,
      rgba(107, 63, 169, 0.6) 50%,
      rgba(107, 63, 169, 0) 100%
    );
    transform: translate(-50%, -50%);
    filter: blur(150px);
    pointer-events: none;
  }

  .top-center-glow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 300px;
    height: 600px;
    background: radial-gradient(
      circle,
      rgba(107, 63, 169, 1) 20%,
      rgba(107, 63, 169, 0.6) 50%,
      rgba(107, 63, 169, 0) 100%
    );
    transform: translate(-50%, -50%);
    filter: blur(150px);
    pointer-events: none;
    z-index:99999;
  }

  header {
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  
  main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input#movie-search {
    width: 80%;
    max-width: 550px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    transition:0.5s;
    background-color:transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    color:white;
  }
  
  input#movie-search:focus {
    transform: scale(1.07);
    outline:none;
    width:550px;
  }
  
  .movie-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
  }
  
  .movie-card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor:pointer;
    max-width:200px;
    height:auto;
    max-height:400px;
    padding-bottom:5px;
  }
  
  .movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
  
  .movie-card img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
  }
  
  .movie-card h3 {
    font-size: 1.1rem;
    margin: 10px 0;
  }
  
  button.play-button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button.play-button:hover {
    background-color: #e5533d;
  }
  
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  select.source-selector {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #f5f5f5;
  }
  
  select.source-selector:focus {
    outline: 2px solid #ff6347;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
  }
  .tv-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
  }
  
  .tv-card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .tv-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
  
  .tv-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .tv-card h3 {
    font-size: 1.1rem;
    margin: 10px 0;
  }
  
  
  #season-container,
  #episode-container {
    margin-top: 20px;
  }
  